@import "tailwindcss";

@theme {
  --color-pink-50: #fff0f7;
  --color-pink-100: #ffe3f1;
  --color-pink-200: #ffc2df;
  --color-pink-300: #ff91c6;
  --color-pink-400: #ff69b4;
  --color-pink-500: #eb3f99;
  --color-pink-600: #c92676;
  --color-pink-700: #a61b5c;
  --color-pink-800: #8a194e;
  --color-pink-900: #731a44;
  --color-pink-950: #450824;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #242424;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  /* unset vite default flex which centers everything */
  min-width: 320px;
  min-height: 100vh;
}

/* Custom Animation for Marquee */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

/* Ant Design Override for Carousel height if needed, though styled inline usually works */
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}